@define-color background #181824;
@define-color foreground #cdd6f4;

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 12px;
}

#workspaces button.active {
  color: #38bdae;
}
